.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 10px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.activeLink {
  color: purple;
}
/* здесь какая-то хуйня. Почему не просто .active ? */

